<!DOCTYPE html>html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title iofrm
    link(rel='stylesheet', type='text/css', href='/dashboard/app-sets/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/dashboard/app-sets/css/fontawesome-all.min.css')
    link(rel='stylesheet', type='text/css', href='/dashboard/app-sets/css/iofrm-style.css')
    link(rel='stylesheet', type='text/css', href='/dashboard/app-sets/css/iofrm-theme5.css')
  body
    .form-body
      .website-logo
        a(href='index.html')
          .logo
            img.logo-size(src='images/logo-light.svg', alt='')
      .row
        .img-holder
          .bg
          .info-holder
            img(src='images/graphic2.svg', alt='')
        .form-holder
          .form-content
            .form-items
              h3 Get more things done with Loggin platform.
              p Access to the most powerfull tool in the entire design and web industry.
              .page-links
                a.active(href='login5.html') Login
                a(href='register5.html') Register
              form
                input.form-control(type='text', name='username', placeholder='E-mail Address', required='')
                input.form-control(type='password', name='password', placeholder='Password', required='')
                .form-button
                  button#submit.ibtn(type='submit') Login
                  a(href='forget5.html') Forget password?
              .other-links
                span Or login with
                a(href='#') Facebook
                a(href='#') Google
                a(href='#') Linkedin
    script(src='js/jquery.min.js')
    script(src='js/popper.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/main.js')